#categories {
  max-width: 392px;
  margin: 20px;
  padding: 0;
}

.item {
  width: 360px;
}

.cat-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.cat-list-inner {
  margin: 0;
  padding: 0;
}

.cat-list-item {
  width: 360px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  margin-bottom: 8px;
}
